<?xml version="1.0" ?>
<module xmlns="urn:jboss:module:1.5" name="org.liquibase.core">
    <resources>
        <resource-root path="liquibase-core-${version.org.liquibase}.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.servlet.api"/>
        <module name="javax.sql.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="org.slf4j"/>
        <module name="org.yaml.snakeyaml"/>
    </dependencies>
</module>
